@{
    ViewData["Title"] = "Somar";
}

<h1>Calculadora Soma</h1>

<form action="/Operacoes/ResultadoSoma" method="post">
    <label for="n1">Número 1</label>
    <input type="text" name="n1" id="n1">

    <label for="n2">Número 2</label>
    <input type="text" name="n2" id="n2">

    <input type="submit" value="Somar">
</form>

